<%= provide(title: "Welcome") %>
<section class="hero is-medium is-light is-bold">
	<div class="hero-body">
		<div class="content">
			<div class="light">
				<h1 class="title">Welcome to Odinbook</h1><p class="">
This is an app I designed that connects with facebook and mimicks facebook. It has a lot of similar, if not same features, but it's also very much more minimalistic. You can log in with your facebook, and start posting to odinbook. This site uses cookies to temporarily store encrypted information in your web browser, just to make sure you are who you say you are. Any information shared here is NOT shared with ANY third party, unless they themselves log in and see your posts, comments, etc... If you would like to use a custom image for your profile picture, go to gravatar's website and register your email address. Check out my github page if you want to see the source code.
				</p>
			</div>
		</div>
	</div>
</section>