<%= provide(title: "Welcome") %>
<section class="hero is-medium is-light is-bold">
	<div class="hero-body">
		<div class="container">
			<div class="light">
				<h1 class="title">Welcome to Odinbook</h1>

					<p>This website is built to mimick the back-end functionality of facebook, as well as talk to facebook from the back end. In any case, statuses and stuff you post here will likely be a lot more secure, and a lot less regulated. If you don't even want to use any personal information, I can set up a fake account for you. Or, just lie, the email confirmation is some internet magic to make it open in another tab instead of sending it.</p>
			</div>
		</div>
	</div>
</section>