<%= provide(title: "Welcome") %>
<section class="hero is-medium is-light is-bold">
	<div class="hero-body">
		<div class="content">
			<div class="light">
				<h1 class="title">Welcome to Odinbook</h1><p class="">
This website is built to mimick the back-end functionality of facebook, as well as talk to facebook from the back end(heance "log in with facebook"). In any case, statuses and stuff you post here will likely be a lot less public, and a lot less regulated. If you don't even want to use any personal information, I can set up a fake account for you. Or, just lie, like I had a bot do several times already.
				</p>
			</div>
		</div>
	</div>
</section>