<% provide(:title, "Your Friends") %>
<section class="hero is-light is-bold">
	<div class="hero-body">
		<h1 class="title">Your Friends</h1>
		<ul>
			<%= render @friends %>
		</ul>
	</div>
</section>
