<li class="box">
	<div class="subtitle">
		<div class="is-vertical-center">
			<%= gravatar_for(user) %>
			<div class="section">
				<%= link_to user.name, user, id: "namelink" %> | <%= user.email %>
			</div>
		</div>
	</div>
</li>