<% provide(title: "People") %>
<section class="hero is-light is-bold">
	<div class="hero-body">
		<h1 class="title">People</h1>
		<ul>
			<%= render @users %>
		</ul>
			<%= will_paginate @users, renderer: BulmaPagination::Rails %>
	</div>
</section>
