<li class="box">
	<div class="subtitle">
		<div class="is-vertical-center">
			<%= gravatar_for(friendship.friend) %>
			<div class="section">
				<%= link_to friendship.friend.name, friendship.friend, id: "namelink" %> | <%= friendship.friend.email %>
			</div>
		</div>
	</div>
</li>