<% provide(:title, "Your Requests") %>
<section class="hero is-medium is-light is-bold">
	<div class="hero-body">
		<h1 class="title">Your Requests</h1>
		<ul>
			<%= render @friend_requests %>
		</ul>
		<% unless @friend_requests.any? %>
			<p class="subtitle">Looks like you have no requests at this time.</p>
		<% end %>
	</div>
</section>
