@import "bulma";

#logo {
	font-size: 1.25rem;
	font-weight: bold;
}

.section {
    padding: 1rem;
}

.notification.is-danger {
	margin: 0;
}

.message.is-success {
	margin: 0;
}

.message.is-danger {
	margin: 0;
}

#requests {
	color: #fff;
}

@media screen and (min-width: 724px) {
    .left-field {
		width: 38%;
	}
}


.is-vertical-center {
  display: flex;
  align-items: center;
}

#namelink {
	color: #0C66A1;
}

#namelink:hover {
	color: #143873;
}