<% if flash[:notice] %>
	<div class="section">
		<div class="notification is-success">
			<%= flash[:notice] %>
		</div>
	</div>
<% elsif flash[:alert] %>
	<div class="section">
		<div class="notification is-danger">
			<%= flash[:alert] %>
		</div>
	</div>
<% end %>