<footer class="footer">
	<span>
		Reverse-engineered by <a href="https://github.com/zottwickel">Scott McKell</a>
		as part of <a href="http://www.theodinproject.com">The Odin Project</a>.
	</span>
	<div class="is-pulled-right">
		<a href="https://bulma.io/"><%= image_tag("made-with-bulma.png", height: "32", width: "170.6666666666") %></a>
	</div>
</footer>