<footer class="footer">
	<small>
		Reverse-engineered by <a href="https://github.com/zottwickel">Scott McKell</a>
		as part of <a href="http://www.theodinproject.com">The Odin Project</a>.
	</small>
	<div class="is-pulled-right">
		<a href="https://bulma.io/"><%= image_tag("made-with-bulma.png", height: "24", width: "128") %></a>
	</div>
</footer>