<h1>Welcome to Odinbook!</h1>

<p>This email confirmation stops a lot (but not all of) of scrapers from scraping, and ad bots from spamming</p>

<p>You can confirm your account email through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>
